@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}

body{
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    
}
.relode{
    background-color: #334155;
    border: none;
    border-radius: 3px;
    color: white;
    margin: .2rem;
}
.score-container,
.time-container{
    padding: .3rem 1rem;
    background-color: #334155;
    border-radius: 5px;
    color: white;
}

.settings-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: none;
    transition: all ease-in
}
.settings-btn:active{
    background-color: #0f172a;
    transition: all ease-in-out 5s;
}

select{
    width: 200px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#settings-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.user-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
select:focus,
button:focus{
    outline: 0;
}
option{
    padding: 1rem;
}
.settings.hide{
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
}


.container{
    background-color: #e2e8f0;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: black;
    position: relative;
    text-align: center;
    width: 600px;   
}
.container h2{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}

h1{
    margin: 0;
}

input{
    border: none;
    border-radius: 4px;
    padding: .5rem .5rem;
    font-size: 14px;
    width: 300px;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #334155;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    color: #334155;
}
.score-container{
    position: absolute;
    top: 60px;
    right: 20px;

}

.time-container{
    position: absolute;
    top: 60px;
    left: 20px;
}
.end-game-container{
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: non;
}
.modal-content{
    background-color: #e2e8f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-content h1, h2{
    text-align: center;
}
.submitModalBtn{
    border: none;
    border: 2px solid #0f172a;
    transition: ease-in-out 500ms;
}
.submitModalBtn:hover{
    background-color: #0f172a;
    color: white;
    transition: ease-in-out 500ms;
}
.name-content{
    display: flex;
    flex-direction: column;
}

.emoji-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.emojis{
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform ease-in-out 500ms;
}
.emojis:hover{
    transform: scale(1.3);
    transition: transform ease-in-out 500ms;
}
.output-emoji{
    font-size: 5rem;
}

.counter-to-start-game{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 5rem;
}
.scale{
    animation-name: scaleIt;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: transform ease-in-out 500ms;
}
@keyframes scaleIt{
    20%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.3);
    }
}