*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button{
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    
}
.relode{
    background-color: #334155;
    border: none;
    border-radius: 3px;
    color: white;
    margin: .2rem;
}
.score-container,
.time-container{
    padding: .3rem 1rem;
    background-color: #334155;
    border-radius: 5px;
    color: white;
}

.settings-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: none;
    transition: all ease-in
}
.settings-btn:active{
    background-color: #0f172a;
    transition: all ease-in-out 5s;
}

select{
    width: 200px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
select:focus,
button:focus{
    outline: 0;
}
option{
    padding: 1rem;
}
.settings.hide{
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
}

.container{
    background-color: #e2e8f0;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: black;
    position: relative;
    text-align: center;
    width: 500px;
}
.container h2{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}

h1{
    margin: 0;
}

input{
    border: none;
    border-radius: 4px;
    padding: .5rem .5rem;
    font-size: 14px;
    width: 300px;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #334155;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
     rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
}
.score-container{
    position: absolute;
    top: 60px;
    right: 20px;

}

.time-container{
    position: absolute;
    top: 60px;
    left: 20px;
}
.end-game-container{
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.counter-to-start-game{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 5rem;
}